/* backgroundColor: "#D3D3D3 ", */

/* Computers */
.computer-pg {
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  width: 100%;
  padding: 5px;
}

.pgtop-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 95vw;
  height: 50px;
}

.pages-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
}

.main-pgname {
  margin-left: 10%;
}

.sort-count {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
/* ----------------------------------------- */

.computer-pg {
  height: auto;
  width: 100%;
}

.computer-second {
  /* height: auto; */
  min-height: 100vh;
  width: 95vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: row;
  align-items: stretch;
}

.side-bar {
  width: 17%;
  height: 100auto;
  background-color: #d3d3d3;
  padding: 1%;
}

.for-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
  grid-template-rows: repeat(2, auto); /* 2 rows */
  gap: 1rem;
  width: 83%;
  max-height: 98%;
  padding: 1%;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  max-height: 98%;
  padding: 1%; */
}

.single-card {
  height: auto;
  border: 1px solid grey;
  padding: 5px;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
}

.wishlist-logo {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  margin-top: 5px;
}

.wishlogo-btn {
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: none;
}

.wishlist-word {
  font-size: 0.6rem;
}

.card-images {
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.card-texbox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 19%;
}

.cards-name {
  margin-top: 8px;
}

.cards-prodinfo {
  margin-top: 8px;
  font-size: 1.1rem;
}

.cards-prices {
  margin-top: 8px;
  font-size: 1.1rem;
}

.next-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------QuickView Styles start--------- */
.quickview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.quickview-second {
  width: 45%;
  height: 55%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  animation: popup 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quickview-box {
  width: 100%;
  height: 90%;
  background: white;
  border-radius: 10px;
  text-align: center;
  animation: popup 0.5s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quickview-imgbox {
  width: 50%;
  height: 80%;
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quickview-img {
  width: 90%;
  height: 90%;
}

.quickview-text {
  width: 50%;
  height: 80%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quickview-name {
  font-size: 2rem;
  margin-bottom: 15px;
}

.quickview-productInfo {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.quickview-description {
  font-size: 1rem;
  margin-bottom: 15px;
}

.quickview-closebtn {
  margin-top: 10px;
}

.quickview-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1%;
  width: 90%;
}

.close-btn {
  width: 9rem;
  height: 2rem;
  border-radius: 15px;
  cursor: pointer;
}

.quickview-allbuttons {
  width: 60%;
  height: 2.3rem;
  border-radius: 20px;
  cursor: pointer;
}

@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
/* --------QuickView Styles end-------- */

/* ------search page------ */
.Searchpg-mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #d3d3d3;
}

.searchpg-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  height: 95%;
  padding: 1%;
  background-color: #ffffff;
}

.searchbox-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 8%;
  gap: 0.5%;
}

.searchpg-search {
  height: 80%;
  width: 85%;
  padding: 0px 20px;
  font-size: 18px;
}

.searchpg-button {
  height: 80%;
  width: 8%;
  font-size: 18px;
}
/* ------search page end------ */
