/* backgroundColor: "#D3D3D3 ", */

/* Computers */
.computer-pg {
  background-color: #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  height: auto;
  width: 100%;
  padding: 5px;
}

.pgtop-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 95vw;
  height: 50px;
}

.pages-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1.5rem;
}

.main-pgname {
  margin-left: 10%;
}

.sort-count {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
/* ----------------------------------------- */

.computer-pg {
  height: auto;
  width: 100%;
}

.computer-second {
  min-height: 100vh;
  width: 95vw;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
}

.side-bar {
  width: 17%;
  height: 100auto;
  background-color: #d3d3d3;
  padding: 1%;
}

.for-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  width: 83%;
  max-height: 98%;
  padding: 1%;
  /* display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 83%;
  max-height: 98%;
  padding: 1%; */
}

.single-card {
  height: auto;
  border: 1px solid grey;
  padding: 5px;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
}

.wishlist-logo {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: row;
  gap: 20px;
  position: absolute;
  margin-top: 5px;
}

.wishlogo-btn {
  font-size: 20px;
  border: none;
  cursor: pointer;
  background: none;
}

.wishlist-word {
  font-size: 0.6rem;
}

.card-images {
  width: 100%;
  height: 65%;
  object-fit: cover;
}

.card-texbox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 19%;
}

.cards-name {
  margin-top: 8px;
}

.cards-prodinfo {
  margin-top: 8px;
  font-size: 1.1rem;
}

.cards-prices {
  margin-top: 8px;
  font-size: 1.1rem;
}

.next-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------QuickView Styles start--------- */
.quickview-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.quickview-second {
  width: 45%;
  height: 55%;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  animation: popup 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quickview-box {
  width: 100%;
  height: 90%;
  background: white;
  border-radius: 10px;
  text-align: center;
  animation: popup 0.5s ease;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quickview-imgbox {
  width: 50%;
  height: 80%;
  border: 1px solid grey;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.quickview-img {
  width: 90%;
  height: 90%;
}

.quickview-text {
  width: 50%;
  height: 80%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quickview-name {
  font-size: 2rem;
  margin-bottom: 15px;
}

.quickview-productInfo {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.quickview-description {
  font-size: 1rem;
  margin-bottom: 15px;
}

.quickview-closebtn {
  margin-top: 10px;
}

.quickview-buttons {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 1%;
  width: 90%;
}

.close-btn {
  width: 9rem;
  height: 2rem;
  border-radius: 15px;
  cursor: pointer;
}

.quickview-allbuttons {
  width: 60%;
  height: 2.3rem;
  border-radius: 20px;
  cursor: pointer;
}

@keyframes popup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
/* --------QuickView Styles end-------- */

/* ------search page------ */
.Searchpg-mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #d3d3d3;
}

.searchpg-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  height: 95%;
  padding: 1%;
  background-color: #ffffff;
}

.searchbox-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 8%;
  gap: 0.5%;
}

.searchpg-search {
  height: 80%;
  width: 85%;
  padding: 0px 20px;
  font-size: 18px;
}

.searchpg-button {
  height: 80%;
  width: 8%;
  font-size: 18px;
}

.searched-cards {
  height: 85%;
  width: 99%;
}
/* ------Login Page------ */

.Loginpg-mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  background-color: #d3d3d3;
}

.Loginpg-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  height: 98%;
  padding: 1%;
  background-color: #ffffff;
}

.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 25%;
  height: 80%;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 14px;
  justify-content: center;
}

.login-box h2 {
  text-align: center;
  margin-bottom: 10px;
}

.login-box label {
  font-size: 15px;
  font-weight: 600;
  text-align: left;
}

.login-box input {
  padding: 14px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 6px;
}

.login-btn {
  padding: 11px;
  background: #007bff;
  color: white;
  font-size: 19px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2px;
  padding: 5px 15px;
  gap: 40px;
}

.forgot {
  font-size: 15px;
  color: #333;
  cursor: pointer;
  color: rgb(30, 51, 233);
}

.register-btn {
  padding: 10px 46px;
  background: #617fe2;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/*--------------- Register --------------*/
.registerpg-mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
  background-color: #d3d3d3;
}

.registerpg-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 100%;
  background-color: #ffffff;
}

.register-container {
  height: 99%;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-box {
  width: 55%;
  height: 90%;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: flex-start;
}

.register-box h2 {
  text-align: center;
  margin-bottom: 10px;
}

.register-box label {
  font-size: 15px;
  font-weight: 600;
}

.register-box input {
  padding: 9px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 6px;
}

.register-main-btn {
  padding: 11px;
  background: #28a745;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.bottom-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 10px;
}

.already-text {
  color: #333;
  font-size: 14px;
}

.goto-login-btn {
  padding: 10px 60px;
  background: #617fe2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* ------------ Forgot Password Page ------------- */

.forgotpg-mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  background-color: #d3d3d3;
}

.forgotpg-second {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95vw;
  height: 96%;
  padding: 1%;
  background-color: #ffffff;
}

.forgot-container {
  height: 98%;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot-box {
  width: 55%;
  height: 70%;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
}

.forgot-box h2 {
  text-align: center;
  margin-bottom: 8px;
}

.forgot-info {
  font-size: 14px;
  color: #444;
  text-align: center;
  margin-bottom: 10px;
}

.forgot-box label {
  font-size: 15px;
  font-weight: 600;
}

.forgot-box input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #bbb;
  border-radius: 6px;
}

.forgot-main-btn {
  padding: 12px;
  background: #ff961f;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.bottom-row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.goto-login-btn {
  padding: 10px 40px;
  background: #617fe2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* Contact Us Page */

.contactuspg-mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  background-color: #d3d3d3;
}

.contactuspg-second {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: 95%;
  background-color: #ffffff;
}

.contact-card {
  width: 28%;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-card h2 {
  text-align: center;
  margin-bottom: 10px;
}

.contact-card label {
  font-size: 14px;
  font-weight: 500;
}

.contact-card input,
.contact-card textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.contact-card textarea {
  height: 100px;
  resize: none;
}

.contact-btn {
  margin-top: 10px;
  padding: 10px;
  background-color: #0077ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: #005ccc;
}

/* BestSeller Page  */
.bestsellerpg-main {
  height: 80vh;
  width: 100%;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bestsellerpg-second {
  height: 95%;
  width: 95vw;
  background-color: #ffffff;
}

/* Onsale Page  */
.onsalepage-main {
  height: 80vh;
  width: 100%;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.onsalepage-second {
  height: 95%;
  width: 95vw;
  background-color: #ffffff;
}

/* Cart Page */
.Cartpg-mainbox {
  height: 85vh;
  width: 100%;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.Cartpg-secondl {
  height: 95%;
  width: 68vw;
  background-color: #d3d3d3;
  display: flex;

  flex-direction: column;
  gap: 10px;
}

.Cartpg-secondr {
  display: flex;
  flex-direction: column;
  gap: 2%;
  height: 95%;
  width: 25vw;
  background-color: #d3d3d3;
}

.cartpg-headder {
  height: 10%;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  padding: 0px 15px;
}

.cartpg-address {
  height: 10%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;

  flex-direction: flex-start;
  flex-direction: row;

  padding: 0px 15px;
  gap: 3px;
}

.address-boxl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.address-changebtn {
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.changebtn-cart {
  width: 65%;
  height: 50%;
  cursor: pointer;
}

.products-addedpg {
  height: 80%;
  background-color: #ffffff;
  padding: 1% 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.single-productsrow {
  width: 98%;
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.singleproduct-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  /* flex: 1; */
  width: 40%;
}
.singleproduct-countremove {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  /* flex: 1; */
  width: 30%;
}
.singleproduct-totalprice {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  /* flex: 1; */
  width: 30%;
}

.single-mainproductsrow {
  width: 98%;
  height: 7%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  height: 30%;
  margin-bottom: 4px;
}

.singleproduct-maindetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  height: 100%;
  /* flex: 1; */
  width: 40%;
}
.singleproduct-maincountremove {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  /* flex: 1; */
  width: 30%;
}
.singleproduct-maintotalprice {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  /* flex: 1; */
  width: 30%;
}

.cardpg-imgmain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.lastbox-descripimg {
  width: 40%;
  height: 100%;
}

.lastbox-descripimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.lastbox-descrip {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.incre-decre {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.singleproduct-maincountremove {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

.increse-decresebtn {
  width: 45px;
  height: 25px;
  cursor: pointer;
}

.count-num {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-removebtn {
  width: 90px;
  height: 30px;
  cursor: pointer;
}

.secondr-upper {
  width: 100%;
  height: 55%;
  padding: 4%;
  background-color: #ffffff;
}

.palce-orderbtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0pc 20px;
  height: 11%;
  background-color: #ffffff;
}

.palce-orderbtn button {
  width: 45%;
  height: 55%;
  cursor: pointer;
}

.securepayment-text {
  padding: 4%;
}

.secondr-upper {
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.upperheading-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upperheading-second p {
  font-size: 18px;
}

.upperheading-second h5 {
  font-size: 18px;
}

.you-save {
  color: #28a745;
}

/* Wishlist Page */

.Wishlistpg-mainbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
  background-color: #d3d3d3;
}

.Wishlistpg-second {
  background-color: #d3d3d3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 95vw;
  height: 95%;
  gap: 10px;
}

.wishlistpg-right {
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 75%;
  height: 100%;
}

.wishlist-heading {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  height: 13%;
  padding: 0px 20px;
  align-items: left;
  justify-content: center;
  background-color: #ffffff;
}

.wishlist-mainbox {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 87%;
  padding: 1%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.single-wishproduct {
  width: 100%;
  height: 35%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.wishlistimg-textmain {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.mainwish-image {
  object-fit: cover;
  cursor: pointer;
  width: 30%;
  height: 100%;
}

.mainwish-image img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wishlist-proddetails {
  width: 70%;
  height: 100%;
  padding: 3%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wish-buttonsall {
  width: 30%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

.wishbtns-upper {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.wishbtns-lower {
  width: 90%;
  height: 25%;
  display: flex;
  justify-content: center;
}

.wishbtns-lower button {
  height: 83%;
  width: 50%;
  cursor: pointer;
}

.bin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 80%;
  width: 30%;
  cursor: pointer;
}

.adjust {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 80%;
  width: 30%;
  cursor: pointer;
}

.wishlist-iconlast {
  font-size: 30px;
}

/* wishlist left  */

.wishlistpg-left {
  width: 25%;
  height: 100%;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo-hello {
  width: 100%;
  height: 13%;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0px 25px;
  gap: 5%;
  background-color: #ffffff;
}

.logohello-logo {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logohello-logo img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.wishlistleft-lower {
  height: 88%;
  width: 100%;
  background-color: #ffffff;
}

.wishlistleft-lower {
  padding: 5%;
}

/* sale badge style

.sale-badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: red;
  color: white;
  padding: 3px 12px;
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 6%;
  margin-top: 7%;
} */
